/* Color palette: https://coolors.co/1f2421-1f694f-5e9674-9cc5a1-dce1de in order from dark to light */

body {
	padding: 15px;
	background-color: #dce1de;
	color: #1f2421;
	text-align: justify;
	width: 700px;
	margin: 0 auto;
}

.main-title {
	color: #1f694f;
	font-size: 75pt;
	text-align: center;
	text-decoration: bold;
	padding: 31px;
}

.main-button {
	font-size: 31pt;
	background-color: #1f694f;
	color: #dce1de;
	border-radius: 13px;
	margin: 13px;
	text-align: center;
	font-family: "Mountains of Christmas", serif;
	width: 314px;
	margin: 0 auto;
	display: block;
}

@font-face {
	font-family: "Mountains of Christmas", serif;
  	font-weight: 400;
  	font-style: normal;
}

.main-footer {
	a:link, a:visited, a:hover {
		color: #5e9674;
		text-decoration: bold;
	}
	font-size: 13pt;
	font-family: "Mountains of Christmas", serif;
	position: fixed;
	bottom: 0;
}